.hide {
    display: none;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    /*max-width: 100%;*/
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    /* MOBILE */
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;

    /*outline: 2px solid #31D0AA;
    outline-offset: -2px;*/
}

@media only screen and (min-width: 768px) {
    .container {
        /* TABLET */
        max-width: 768px;
    }
}

@media only screen and (min-width: 1158px) {
    .container {
        /* DESKTOP */
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ======== HEADER STYLES ======== */
.page-logo-header {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS, #4D5AE5);
    margin-right: 149px;
    padding-top: 18px;
    padding-bottom: 18px;
}

@media only screen and (min-width: 768px) {
    .page-logo-header {
        margin-right: 120px;
    }
}


@media only screen and (min-width: 1158px) {
    .page-logo-header {
        margin-right: 76px;
    }
}


.page-logo-header-span {
    color: var(--NAVY-BLUE, #2E2F42);
}

.menu-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #2E2F42);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.menu-link.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--OCEAN, #404BBF);
}

.menu-link.active {
     color: var(--OCEAN, #404BBF);
     /*position: relative;*/
}

.menu-link:hover,
.menu-link:focus {
     color: #404BBF; 
}

.menu-item {
    padding: 24px 0;
    position: relative;
}

.page-navigator {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.page-navigator .menu {
    display: flex;
    gap: 40px;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header{
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and (max-width: 767.98px) {
    .page-navigator .menu{
        display: none;
    }
}

/* ======== /HEADER STYLES ======== */


/* ======== CONTACTS STYLES ======== */
.page-contacts {
    font-style: normal;
}

.page-contacts-link {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.page-contacts-link:hover,
.page-contacts-link:focus{
    color: #404BBF; 
}

.contacts-menu {
    display: flex;
    gap: 40px;
}

@media only screen and (max-width: 1157.98px) {
    .contacts-menu {
        display: block;
    }
}

@media only screen and (max-width: 767.98px) {
    .contacts-menu {
        display: none;
    }
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

@media only screen and (min-width: 768px) {
    .menu-button {
        display: none;
    }
    .page-navigator {
            justify-content: center;
            flex-grow: 0;
        }
    }

/* ======== /CONTACTS STYLES ======== */

/* ======== HERO STYLES ======== */
.hero {
    max-width: 1440px;
    /*height: 600px;*/
    margin-left: auto;
    margin-right: auto;
    padding-top: 72px;
    padding-bottom: 72px;
    background: var(--NAVY-BLUE, #2E2F42);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.70), 
        rgba(46, 47, 66, 0.70)),
    url(../images/hero/Hero-bg_mob_1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)),
        url(../images/hero/Hero-bg_mob_2x.jpg);
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)),
        url(../images/hero/Hero-bg_tab_1x.jpeg);
    }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)),
        url(../images/hero/Hero-bg_tab_2x.jpg);
    }
}


@media only screen and (min-width: 1158px) {
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)),
        url(../images/hero/hero-bg.jpg);
    }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)),
        url(../images/hero/Hero-bg_2x.jpg);
    }
}

.hero-title {
    max-width: 288px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--WHITE, #FFFFFF);
}

@media only screen and (min-width: 768px) {
    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
}

@media only screen and (min-width: 1158px) {
    .hero-title {
         margin-bottom: 48px;
    }
}

.hero-button {
    min-width: 169px;
    min-height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--WHITE, #FFFFFF);
    background: var(--IRIS, #4D5AE5);
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}


.hero-button:hover,
.hero-button:focus {
    background-color: var(--OCEAN, #404BBF);
}

/* ======== /HERO STYLES ======== */

/* ======== ABOUT COMPANY STYLES ======== */

.company-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .company-title {
    text-align: start;
    }
}

@media only screen and (min-width: 1158px) {
    .company-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
}

.company-paragraph {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455);
}

@media only screen and (min-width: 1158px) {
    .company-paragraph {
        font-weight: 400;
    }
}

.company-menu {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
    .company-menu {
        gap: 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .company-menu {
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width: 1157.98px) {
    .company-menu {
        row-gap: 72px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .company-item {
        width: calc((100% - 24px) / 2);
     }
}

.company-wrapper {
    display: none;
}

@media only screen and (min-width: 1158px) {
    .company-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        border: 1px solid var(--LIGHT-SLATE, #8E8F99);
        background: var(--CLOUD, #F4F4FD);
        }
    } 

/* ======== /ABOUT COMPANY STYLES ======== */

/* ========  OUR TEAM STYLES ======== */
.team {
    background: var(--CLOUD, #F4F4FD);
}

.team-title-section {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: block;
    margin-bottom: 72px;
    color: var(--NAVY-BLUE, #2E2F42);
}

.team-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2E2F42);
}

.team-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--SLATE, #434455);
}

.team-item {
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

@media only screen and (min-width: 768px) {
    .team-menu {
        column-gap: 64px;
        row-gap: 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .team-menu {
        gap: 24px;
    }
}

.team-content {
    text-align: center;
    padding: 32px 0;
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-items {
    width: 40px;
    height: 40px;
}

.team-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.team-link:focus,
.team-link:hover {
    background-color: #404BBF;
}

.team-icon {
    fill: #f4f4fd;
}

/* ======== /OUR TEAM STYLES ======== */

/* ======== PORTFOLIO STYLES ======== */
.portfolio {
    margin-right: auto;
    margin-left: auto;
    background: #FFFFFF;
}

.portfolio-title-section {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: block;
    margin-bottom: 72px;
    color: var(--NAVY-BLUE, #2E2F42);
}

.portfolio-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--NAVY-BLUE, #2E2F42);
}

.portfolio-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-top: none;
    background: var(--WHITE, #FFF);
}

.portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}

.portfolio-item {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .portfolio-item {
        width: calc((100% - 24px * 1) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .portfolio-menu {
        row-gap: 72px;
    }    
    .portfolio-item {
        width: calc((100% - 24px * 2) / 3);
    }
}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CLOUD, #F4F4FD);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border: 1px solid #000;

    transform: translateY(100%);
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;

}

.portfolio-item:hover .overlay {
     transform: translateY(0);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* ======== /PORTFOLIO STYLES ======== */


/* ======== FOOTER STYLES ======== */
/*.page-footer {
   width: 1440px;
    height: 312px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--NAVY-BLUE, #2E2F42);
}


.page-footer-content {
    padding-top: 96px;
    padding-bottom: 96px;
}*/

.page-footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background: var(--NAVY-BLUE, #2E2F42);
}

@media only screen and (min-width: 1158px) {
    .page-footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 767.98px) {
    .page-footer {
        text-align: center;
    }
    .page-footer-content,
    .page-footer-social {
        padding-bottom: 72px;
    }
}

.page-footer-logo { /*не меняем*/
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
    color: var(--IRIS, #4D5AE5);
}

.page-footer-logo-span { /*не меняем*/
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--CLOUD, #F4F4FD);
}

.page-footer-paragraph { /*не меняем*/
    width: 264px;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CLOUD, #F4F4FD);
}



.page-footer-title { /*не меняем*/
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: var(--WHITE, #FFF);
}

/*.page-footer-content {
    margin-right: 120px;
}*/

.page-footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}


.page-footer-items {
    width: 40px;
    height: 40px;
}

.page-footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.page-footer-link:focus,
.page-footer-link:hover {
    background-color: #31D0AA;
}

@media only screen and (min-width: 768px) {
    .page-footer-all {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            padding-left: 108px;
            gap: 72px 24px;
    }    
}

@media only screen and (min-width: 1158px) {
    .page-footer-all {
        padding: 0;
        gap: 0;
        flex-wrap: nowrap;
    }
    .page-footer-content {
        margin-right: 120px;
    }
    .page-footer-form {
        margin-left: 80px;
    }
}


.page-footer-icon {
    fill: #f4f4fd;
}

/*.page-footer-form {
    margin-left: 80px;
}*/

.page-footer-caption {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFF;
    justify-content: center;
}

.page-footer-subscribe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px 24px;
} 

@media only screen and (min-width: 768px) {
    .page-footer-subscribe {
        flex-wrap: nowrap;
    }
}

.page-footer-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.48px;
    outline: transparent;
    background-color: transparent;
}

.page-footer-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    gap: 16px;
    min-width: 165px;
    min-height: 40px;
    border-radius: 4px;
    border: none;
    background: #4d5ae5;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.page-footer-input::placeholder {
    color: currentColor;
    opacity: 0.6;
}

.page-footer-icon-send {
    margin-left: 16px;
    fill: #fff;
}

/* ======== FOOTER STYLES ======== */


/* ======== /BACKDROP STYLES ======== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    padding-top: 80px;

    /*width: 100vw;
    height: 100vw;*/
    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modal {
    /*position: relative;*/
    width: 288px;
    min-height: 623px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    /*min-height: 584px;*/
    padding: 72px 16px 16px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px;
    }
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
    border: none;
    fill: #ffffff;
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
    /*width: 360px;*/
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.form-field {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4D5AE5;
}

.form-wrapper {
    margin-bottom: 8px;
}

.form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media only screen and (min-width: 1158px) {
    .form-input:focus+.form-icon {
        fill: #4D5AE5;
    }
}

.form-message {
    width: 255px;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);

    resize: none;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .form-message {
        width: 360px;
    }
}

.form-message::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.form-message:focus {
    border-color: #4D5AE5;
}

.form-wrapper-comment {
    margin-bottom: 16px;
}

/* ======== /CHECKBOX STYLES ======== */

.form-agree {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    user-select: none;
}

.form-agree-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agree-icon {
    opacity: 0;
}

.form-agree-link {
    text-decoration: underline;
    color: #4d5ae5;
}



.checkbox:checked+.form-agree>.form-agree-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.checkbox:checked+.form-agree>.form-agree-checkbox>.form-agree-icon {
   opacity: 1;
}


.send-button {
    display: block;
    min-width: 169px;
    min-height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    align-items: flex-start;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.send-button:hover,
.send-button:focus {
    background-color: #404BBF;
}

.form-wrapper-agree {
    margin-bottom: 24px;
}

/* ======== /CHECKBOX STYLES ======== */

/* ======== /BACKDROP STYLES ======== */

/* ======== /MOB MENU STYLES ======== */

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 72px 16px 40px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
    transform: translate(0);
    visibility: visible;
}

.mob-menu-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0 ;
}

.mob-menu-icon {}

.mob-menu-list {
    margin-bottom: auto;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.mob-menu-link.current {
    color: #404BBF;
}

.link {}

.mob-menu-contacts .mob-menu-item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-menu-contacts {
    margin-bottom: 48px;
}

.mob-menu-contact {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-menu-contact.accent {
    color: #404BBF;
}

.mob-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.team.link{}
.list {}

.team-items {}


.team-icon {
}