.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    /*max-width: 100%;*/
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ======== HEADER STYLES ======== */
.page-logo-header {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS, #4D5AE5);
    margin-right: 76px;
}

.page-logo-header-span {
    color: var(--NAVY-BLUE, #2E2F42);
}

.menu-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #2E2F42);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.menu-link.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--OCEAN, #404BBF);
}

.menu-link.active {
     color: var(--OCEAN, #404BBF);
     /*position: relative;*/
}

.menu-link:hover,
.menu-link:focus {
     color: #404BBF; 
}

.menu-item {
    padding: 24px 0;
    position: relative;
}

.page-navigator {
    align-items: center;
    display: flex;
}

.page-navigator .menu {
    display: flex;
    gap: 40px;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header{
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
/* ======== /HEADER STYLES ======== */


/* ======== CONTACTS STYLES ======== */
.page-contacts {
    font-style: normal;
}

.page-contacts-link {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.page-contacts-link:hover,
.page-contacts-link:focus{
    color: #404BBF; 
}

.contacts-menu {
    display: flex;
    gap: 40px;
}
/* ======== /CONTACTS STYLES ======== */

/* ======== HERO STYLES ======== */
.hero {
    max-width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background: var(--NAVY-BLUE, #2E2F42);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.70), 
        rgba(46, 47, 66, 0.70)),
    url(../images/hero/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    max-width: 496px;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--WHITE, #FFFFFF);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.hero-button {
    min-width: 169px;
    min-height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--WHITE, #FFFFFF);
    background: var(--IRIS, #4D5AE5);
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}


.hero-button:hover,
.hero-button:focus {
    background-color: var(--OCEAN, #404BBF);
}
/* ======== /HERO STYLES ======== */

/* ======== ABOUT COMPANY STYLES ======== */

.company-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--NAVY-BLUE, #2E2F42);
}

.company-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.company-menu {
    display: flex;
    gap: 24px;
}

.company-item {
    width: 264px;
}

.company-wrapper {
    /*position: relative;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
}

/*.company-icon {
position: absolute;
top: 24px;
left: 100px;
}*/



/* ======== /ABOUT COMPANY STYLES ======== */

/* ========  OUR TEAM STYLES ======== */
.team {
   /* width: 1440px;
    height: 732px;
    margin-left: auto;
    margin-right: auto;*/
    background: var(--CLOUD, #F4F4FD);
}

.team-title-section {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: block;
    margin-bottom: 72px;
    color: var(--NAVY-BLUE, #2E2F42);
}

.team-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--NAVY-BLUE, #2E2F42);
}

.team-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--SLATE, #434455);
}

.team-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-menu {
    display: flex;
    gap: 24px;
}

.team-content {
    text-align: center;
    padding: 32px 0;
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-items {
    width: 40px;
    height: 40px;
}

.team-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.team-link:focus,
.team-link:hover {
    background-color: #404BBF;
}

.team-icon {
    fill: #f4f4fd;
}

/* ======== /OUR TEAM STYLES ======== */

/* ======== PORTFOLIO STYLES ======== */
.portfolio {
    margin-right: auto;
    margin-left: auto;
    background: #FFFFFF;
}

.portfolio-title-section {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: block;
    margin-bottom: 72px;
    color: var(--NAVY-BLUE, #2E2F42);
}

.portfolio-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--NAVY-BLUE, #2E2F42);
}

.portfolio-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-top: none;
    background: var(--WHITE, #FFF);
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100%-48px) / 3);
}

.portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

/*.portfolio-overlay {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CLOUD, #F4F4FD);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
}
*/
.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CLOUD, #F4F4FD);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border: 1px solid #000;

    transform: translateY(100%);
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;

}

.portfolio-item:hover .overlay {
     transform: translateY(0);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* ======== /PORTFOLIO STYLES ======== */


/* ======== FOOTER STYLES ======== */
.page-footer {
    width: 1440px;
    height: 312px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 156px;
    background: var(--NAVY-BLUE, #2E2F42);
}

.page-footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
    color: var(--IRIS, #4D5AE5);
}

.page-footer-logo-span {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--CLOUD, #F4F4FD);
}

.page-footer-paragraph {
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CLOUD, #F4F4FD);
}

.page-footer-title {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: var(--WHITE, #FFF);
}

.page-footer-content {
    margin-right: 120px;
}

.page-footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.page-footer-items {
    width: 40px;
    height: 40px;
}

.page-footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.page-footer-link:focus,
.page-footer-link:hover {
    background-color: #31D0AA;
}

.page-footer-all {
    display: flex;
    align-items: baseline;
}

.page-footer-icon {
    fill: #f4f4fd;
}

.page-footer-form {
    margin-left: 80px;
}

.page-footer-caption {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFF;
    justify-content: center;
}

.page-footer-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.page-footer-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.48px;
    outline: transparent;
    background-color: transparent;
}

.page-footer-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    gap: 16px;
    min-width: 165px;
    min-height: 40px;
    border-radius: 4px;
    border: none;
    background: #4d5ae5;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.page-footer-input::placeholder {
    color: currentColor;
}

.page-footer-icon-send {
    margin-left: 16px;
    fill: #fff;
}

/* ======== FOOTER STYLES ======== */


/* ======== /BACKDROP STYLES ======== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    padding-top: 80px;

    /*width: 100vw;
    height: 100vw;*/
    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.40);
    /*transition: opacity 250ms, visibility 250ms;*/
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modal {
    /*position: relative;*/
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    /*min-height: 584px;*/
    padding: 72px 24px 24px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
    border: none;
    fill: #ffffff;
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
    /*width: 360px;*/
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.form-field {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4D5AE5;
}

.form-wrapper {
    margin-bottom: 8px;
}

.form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
    fill: #4D5AE5;
}

.form-message {
    width: 360px;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);

    resize: none;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.form-message:focus {
    border-color: #4D5AE5;
}

.form-wrapper-comment {
    margin-bottom: 16px;
}

/* ======== /CHECKBOX STYLES ======== */

.form-agree {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    user-select: none;
}

.form-agree-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agree-icon {
    opacity: 0;
}

.form-agree-link {
    text-decoration: underline;
    color: #4d5ae5;
}



.checkbox:checked+.form-agree>.form-agree-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.checkbox:checked+.form-agree>.form-agree-checkbox>.form-agree-icon {
   opacity: 1;
}


.send-button {
    display: block;
    min-width: 169px;
    min-height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    align-items: flex-start;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.send-button:hover,
.send-button:focus {
    background-color: #404BBF;
}

.form-wrapper-agree {
    margin-bottom: 24px;
}

/* ======== /CHECKBOX STYLES ======== */

/* ======== /BACKDROP STYLES ======== */
